.btn-container{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
button{
    padding: 7px 20px;
    background-color: white;
    border: none;
    font-size: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: 700;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: black;
}



@media only screen and (max-width: 600px) {
    .btn-container{
        justify-content: center;
    }
}
